<h3>Employee List</h3>
<ul *ngFor="let employee of employees">
    <li>{{employee.name}}</li>
</ul>

<h4>{{"Parent to child data transferred"}}</h4>
<p>{{"Hello" + parentData}}</p>
<button (click)="childToParent()">ChildToParent</button><br>

<div class="container">
    <h2 [appShadow]="'pink'" [appShadowX]="'12px'" [appShadowY]="'6px'" [appShadowBlur]="'30px'">{{title}}</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <mat-form-field floatLabel="never" class="form-element">
            <input appNameValidate type="text" matInput placeholder="Username" [(ngModel)]="username"
                formControlName="username" required>
            <!-- minlength="3" maxlength="5" -->
            <mat-error *ngIf="formGroup.controls['username'].invalid">
                {{getError('user')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="form-element">
            <input type="email" matInput placeholder="Email" [(ngModel)]="email" formControlName="email" required>
            <mat-error *ngIf="formGroup.controls['email'].invalid">
                {{getError('mail')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="form-element">
            <input appPhoneValidate type="tel" matInput placeholder="Phone Numbers" [(ngModel)]="phone"
                formControlName="phone" required>
            <mat-error *ngIf="formGroup.controls['phone'].invalid">
                {{getError('num')}}
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
            </button>
        </div>
    </form>

    <button mat-raised-button color="primary" class="button" (click)="clear()" [disabled]="!formGroup.valid">Reset
    </button>

</div>