<!-- <h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Course Description" formControlName="description">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions> -->


<div>
    <div class="registration-login-side">
      <div class="p-5 border">
        <form class="registration-login-form m-3">
          <h1>Sample Popup</h1>
          <p class="text-muted">Header</p>
          <div class="row">
            <div class="col-6 mt-2">
              <button type="button" (click)="close()" class="btn btn-primary px-4">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>