<div class="example-container mat-elevation-z8">
<mat-table #table *ngIf="dataSource.length > 0" [dataSource]="dataSource" cellspacing="10">
    <ng-container matColumnDef="id">
        <mat-header-cell  *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell  *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell class="nameBreak"  *matCellDef="let element"> {{element.employee_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="salary">
        <mat-header-cell  *matHeaderCellDef> Salary </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.employee_salary}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
        <mat-header-cell  *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.employee_age}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
</div>
<div class="ptb-1" *ngIf="dataSource.length !== 0">
    <mat-paginator #paginator [length]="dataSource.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event">
    </mat-paginator>
</div>
<div class="center" *ngIf="dataSource.length === 0">
    <p> Loading... </p>
</div>