<div>
  <div class="registration-login-side">
    <div class="p-5 border">
      <form class="registration-login-form m-3">
        <h1>Login</h1>
        <p class="text-muted">Sign In to your account</p>
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Username"
            autocomplete="username" required>
        </div>
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password"
            autocomplete="current-password" required>
        </div>
        <div class="row">
          <div class="col-6 mt-2">
            <button type="button" (click)="login()" class="btn btn-primary px-4">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>